html {
  font-size: 62.5%;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

h1, h2, h3 {
  font-family: Montserrat;
  font-weight: 500;
}


.grid-container {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  flex-direction: column;
  position: fixed;
  grid-area: header;
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 8vh;
  z-index: 6;
  width: 100%;
  transition: all .3s ease-in-out; 
}

.header.active{
  background-color: white;
  box-shadow: 0 0 1rem gray;
  transition: all .3s ease-in-out; 
}

